<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TCX.CFD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TCX.CFD.Properties.Settings>
            <setting name="DefaultProjectsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MenuTemplateAcceptDtmfInput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuTemplateMaxRetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MenuTemplateTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RecordTemplateMaxTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="RecordTemplateSaveToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecordTemplateTerminateByDtmf" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateAcceptDtmfInput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateMaxRetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UserInputTemplateMinDigits" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UserInputTemplateMaxDigits" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UserInputTemplateFirstDigitTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UserInputTemplateInterDigitTimeout" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UserInputTemplateFinalDigitTimeout" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UserInputTemplateStopDigit" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="WebInteractionTemplateHttpRequestType" serializeAs="String">
                <value>GET</value>
            </setting>
            <setting name="WebInteractionTemplateTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MaxErrorsBuildingProject" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RecordTemplateBeep" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuTemplateIsValidOption0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuTemplateIsValidOption1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuTemplateIsValidOption2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuTemplateIsValidOption3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuTemplateIsValidOptionStar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuTemplateIsValidOptionPound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuTemplateIsValidOption8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuTemplateIsValidOption7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuTemplateIsValidOption6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuTemplateIsValidOption9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuTemplateIsValidOption5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuTemplateIsValidOption4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserInputTemplateIsValidOption0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateIsValidOption1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateIsValidOption2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateIsValidOption3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateIsValidOption4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateIsValidOption5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateIsValidOption6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateIsValidOption7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateIsValidOption8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateIsValidOption9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserInputTemplateIsValidOptionPound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserInputTemplateIsValidOptionStar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CryptographyTemplateAlgorithm" serializeAs="String">
                <value>3DES</value>
            </setting>
            <setting name="CryptographyTemplateFormat" serializeAs="String">
                <value>Hexadecimal</value>
            </setting>
            <setting name="CryptographyTemplateKey" serializeAs="String">
                <value />
            </setting>
            <setting name="FileManagementTemplateOpenMode" serializeAs="String">
                <value>Append</value>
            </setting>
            <setting name="FileManagementTemplateAction" serializeAs="String">
                <value>Write</value>
            </setting>
            <setting name="SocketClientTemplateConnectionType" serializeAs="String">
                <value>TCP</value>
            </setting>
            <setting name="SocketClientTemplateHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="SocketClientTemplateWaitForResponse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EMailSenderTemplateServer" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailSenderTemplateUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailSenderTemplatePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailSenderTemplateFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailSenderTemplateTo" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailSenderTemplateCC" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailSenderTemplateBCC" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailSenderTemplateSubject" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailSenderTemplateBody" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailSenderTemplatePriority" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WebServicesInteractionTemplateTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DatabaseAccessTemplateServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseAccessTemplateDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseAccessTemplateUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseAccessTemplatePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseAccessTemplateDatabaseType" serializeAs="String">
                <value>SqlServer</value>
            </setting>
            <setting name="DatabaseAccessTemplateStatementType" serializeAs="String">
                <value>Query</value>
            </setting>
            <setting name="DatabaseAccessTemplateTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PromptPlaybackTemplateAcceptDtmfInput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HasToUpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SocketClientTemplatePort" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="EMailSenderTemplateIgnoreMissingAttachments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultTtsVoiceName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTtsFormat" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="EMailSenderTemplateServerPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EMailSenderTemplateServerEnableSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EMailSenderTemplateIsBodyHtml" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DatabaseAccessTemplatePort" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastOpenExistingFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastOpenExistingProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseAccessTemplateUseConnectionString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DatabaseAccessTemplateConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="EMailSenderTemplateUseServerSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuthenticationTemplateIsPinRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuthenticationTemplateMaxRetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WebServiceRestTemplateHttpRequestType" serializeAs="String">
                <value>POST</value>
            </setting>
            <setting name="WebServiceRestTemplateTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WebServiceRestTemplateAuthenticationType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="CreditCardTemplateIsExpirationRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreditCardTemplateIsSecurityCodeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreditCardTemplateMaxRetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AutoUpdatesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxRecentProjects" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RecentProjects" serializeAs="String">
                <value />
            </setting>
            <setting name="AmazonPollyClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="AmazonPollyClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="AmazonRegion" serializeAs="String">
                <value>us-east-2</value>
            </setting>
            <setting name="SurveyTemplateAcceptDtmfInput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SurveyTemplateTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SurveyTemplateMaxRetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VoiceInputTemplateInputTimeout" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VoiceInputTemplateMaxRetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VoiceInputTemplateLanguageCode" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="InstallDateV18Update2" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlineServicesTextToSpeechEngine" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="GoogleCloudServiceAccountKeyJSON" serializeAs="String">
                <value />
            </setting>
            <setting name="OnlineServicesSpeechToTextEngine" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="GoogleCloudServiceAccountKeyFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTtsVoiceType" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="AmazonPollyLexicons" serializeAs="String">
                <value />
            </setting>
            <setting name="StartPageFeed" serializeAs="String">
                <value />
            </setting>
            <setting name="VoiceInputTemplateAcceptDtmfInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoiceInputTemplateDtmfTimeout" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VoiceInputTemplateMinDigits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VoiceInputTemplateMaxDigits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VoiceInputTemplateStopDigit" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOption0" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOption1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOption2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOption3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOption4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOption5" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOption6" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOption7" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOption8" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOption9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOptionStar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoiceInputTemplateIsValidOptionPound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoiceInputTemplateSaveToFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TranscribeAudioTemplateLanguageCode" serializeAs="String">
                <value>en-US</value>
            </setting>
        </TCX.CFD.Properties.Settings>
    </userSettings>

    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
